<header>
    <h2>{{'requisitionView.reportAndRequisitionFor' | message}} {{vm.requisition.program.name}} ({{vm.requisition.facility.type.name}})</h2>
    <button ng-disabled="vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">{{'requisitionView.print' | message}}</button>
</header>
<p class="alert is-error" ng-if="vm.requisition.$outdated">
    {{ 'requisitionView.outdated' | message}}
    <button ng-click="vm.updateRequisition();">{{ 'requisitionView.update' | message }}</button>
</p>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>
<nav>
    <ul>
        
    </ul>
</nav>
<div ui-view=""></div>
<requisition-summary requisition="vm.requisition"></requisition-summary>
<ng-include src="'requisition-view/requisition-toolbar.html'"></ng-include>
